.container {
  margin-left: 1em;
  margin-right: 2em;
  
  align-items: left;
  justify-content: left;
}

.row {
  display: flex;
  justify-content: left;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.padsList {
  max-width: inherit;
  list-style-type: circle;
  text-align: center;
  padding-bottom: 25px;
}

.pad {
  max-width: inherit;
  /* overflow: hidden; */
}

.padsListLabel {
  padding-bottom: 0.5em;
  text-decoration: underline dotted;
}

.textbox {
  display: flex;
  font-size: 15px;
  padding: 2px;
  width: 20em;
  text-align: center;
}

.addPaddButton {
  display: flex;
  width: 5em;
}