.container {
  margin-left: 1em;
  margin-right: 4em; 
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 6em;
  /* justify-content: center; */
}

.NotesList {
  display: flex;
  display: block;
  align-items: center;
  /* align-self: center; */
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
  text-align: center;
}

.NewNotebutton {
  display: flex;
  /* align-self: center; */
  /* justify-self: center;
  justify-content: center;
  align-content: center;
  max-height: 30px;
  height: 30px;
  position: relative; */
}

.notesListLabel {
  float: left;
  padding-bottom: 0.5em;
  text-decoration: underline dotted;
  /* align-self: center; */
  /* align-content: left; */
}

.padSettingsButton {
  display: flex;
  float: right;
}